version: '3.8'

networks:
  traefik_net:
    external: true

services:
  mongodb:
    image: mongo:6.0
    deploy:
      placement:
        constraints: [node.role == manager]

  app:
    image: anikondu87/annonces-app:latest
    depends_on:
      - mongodb
    networks:
      - traefik_net
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/annonces
      - SPRING_DATA_MONGODB_DATABASE=annonces
      - APP_UPLOAD_DIR=/app/uploads

    deploy:
      placement:
        constraints: [node.role == manager]
      labels:
        - "traefik.enable=true"

        - "traefik.http.routers.annonces.rule=Host(`hamsterdeal.ch`) || Host(`www.hamsterdeal.ch`)"
        - "traefik.http.routers.annonces.entrypoints=websecure"
        - "traefik.http.routers.annonces.tls.certresolver=le"

        - "traefik.http.services.annonces.loadbalancer.server.port=8080"
