version: '3.8'

services:

  mongodb:
    image: mongo:6.0
    volumes:
      - /var/lib/mongodb_data:/data/db
    networks:
      - traefik-net
    deploy:
      placement:
        constraints:
          - node.role == manager

  app:
    image: anikondu87/annonces-app:latest
    depends_on:
      - mongodb

    # ⚠️ Indispensable en Swarm pour Traefik
    ports:
      - target: 8080

    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/annonces
      - SPRING_DATA_MONGODB_DATABASE=annonces
      - SPRING_WEB_LOCALE=fr_CH
      - SPRING_WEB_LOCALE_RESOLVER=fixed
      - APP_JWT_ISSUER=annonces-app
      - APP_JWT_SECRET=change-me-please-very-long-secret-key
      - APP_JWT_EXPIRATION=86400
      - APP_UPLOAD_DIR=/app/uploads

    volumes:
      - /var/www/annonces/uploads:/app/uploads

    networks:
      - traefik-net

    deploy:
      mode: replicated
      replicas: 2
      placement:
        constraints:
          - node.role == manager

      labels:
        - "traefik.enable=true"

        # Domaines
        - "traefik.http.routers.annonces.rule=Host(`hamsterdeal.ch`) || Host(`www.hamsterdeal.ch`)"
        - "traefik.http.routers.annonces.entrypoints=websecure"
        - "traefik.http.routers.annonces.tls.certresolver=le"

        # Redirection www -> non-www
        - "traefik.http.middlewares.www-redirect.redirectregex.regex=^https?://www\\.(.*)"
        - "traefik.http.middlewares.www-redirect.redirectregex.replacement=https://$$1"
        - "traefik.http.middlewares.www-redirect.redirectregex.permanent=true"
        - "traefik.http.routers.annonces.middlewares=www-redirect"

        # Port interne Java/Spring Boot
        - "traefik.http.services.annonces.loadbalancer.server.port=8080"

networks:
  traefik-net:
    external: true
