version: '3.8'

services:

  mongodb:
    image: mongo:6.0
    volumes:
      - /var/lib/mongodb_data:/data/db
    networks:
      - traefik-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  app:
    image: anikondu87/annonces-app:latest
    depends_on:
      - mongodb
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/annonces
      - SPRING_DATA_MONGODB_DATABASE=annonces
      - SPRING_WEB_LOCALE=fr_CH
      - SPRING_WEB_LOCALE_RESOLVER=fixed
      - APP_JWT_ISSUER=annonces-app
      - APP_JWT_SECRET=change-me-please-very-long-secret-key
      - APP_JWT_EXPIRATION=86400
      - APP_UPLOAD_DIR=/app/uploads
    volumes:
      - /var/www/annonces/uploads:/app/uploads
      # IMPORTANT !!!
    networks:
      - traefik-net
    deploy:
      replicas: 2
      restart_policy:
        condition: any
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.hamsterdeal.rule=Host(`${HOST}`)"
        - "traefik.http.routers.hamsterdeal.entrypoints=websecure"
        - "traefik.http.services.hamsterdeal.loadbalancer.server.port=8080"

networks:
  traefik-net:
    external: true
